<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>Hi, I am a passionate information visualizer and experienced software architect. I love to dig
                    into code, hunt bugs, and design new platforms. In addition, I teach Information Visualization classes
                    at universities.</p>
            </div>
            <div class="col-lg-4">
                <p>
                    He is currently on <strong>sabbatical</strong> in Melbourne, Australia looking for a new challenge in his life. He co-founded the spin-off company <strong><a class="secondary" href="https://www.datavisyn.io" target="_blank" rel="noopener">datavisyn GmbH</a></strong> in 2016. 
                    datavisyn develops data visualization solutions for applications in pharmaceutical and biomedical R&amp;D.
                </p>
            </div>
        </div>
    </div>
</section>