 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Samuel Gratzl is a passionate Information visualizer and experienced Sofware Architect. He loves to dig into code, hunt bugs, and design new platforms</p>
                </div>
                <div class="col-lg-4">
                    <p>TODO</p>
                </div>
            </div>
        </div>
    </section>
