<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>Hi, I am a passionate information visualizer and experienced software architect. I finished my PhD in Computer Science with
                a focus on Information Visualization in 2017 at the Johannes Kepler University, Linz, Austria. I love to dig into code,
                hunt bugs, and design new platforms. In addition, I teach Information Visualization classes at universities (like my D3
                Tutorial on Github).</p>
                <p>I'm currently looking for a new challenge in my life. So, if you have some interesting and challenging projects and job
                opportunities, shoot me a message.</p>
            </div>
            <div class="col-lg-4">
                <p>
                    I like to develop libraries and applications that in one way or the other help others. Like applications that help
                    scientists to explore their datasets and find new insights. But also libraries that help developers to create those
                    applications more easily. I value clean structured code.
                </p>
                <p>
                    Typescript is awesome so are Python typings. I'm fluent in frameworks and libraries such as Vue.js, React, or D3 but also the ability to quickly adapt to other environments. 
                </p>
            </div>
        </div>
    </div>
</section>