<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    {% assign title = page.title | default: site.title | escape %}
    {% assign desc = page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape %}
    
    <title>{{ title }}</title>
    <meta name="description" content="{{ desc }}" />
    <meta property="og:image:width" content="378"/>
    <meta property="og:image:height" content="360"/>
    <meta property="og:title" content="{{ title }}"/>
    <meta property="og:site_name" content="{{ title }}" />
    <meta property="og:description" content="{{ desc }}"/>
    <meta property="og:url" content="https://sgratzl.com"/>
    <meta property="og:image" content="https://sgratzl.com/img/profile.png"/>

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="{{ title }}"/>
    <meta itemprop="description" content="{{ desc }}"/>
    <meta itemprop="image" content="https://sgratzl.com/img/profile.png"/>

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@sgratzl"/>
    <meta name="twitter:title" content="{{ title }}"/>
    <meta name="twitter:description" content="{{ desc }}"/>
    <meta name="twitter:creator" content="@sgratzl"/>
    <meta name="twitter:image:src" content="https://sgratzl.com/img/profile.png"/>
    
    {% if site.meta_author %}<meta name="author" content="{{ site.meta_author }}">{% endif %}
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml">

    <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link rel="stylesheet" href="{{ "/style.css" }}">

    <!-- Google verification -->
    {% if site.google_verify %}<meta name="google-site-verification" content="{{ site.google_verify }}">{% endif %}

    <!-- Bing Verification -->
    {% if site.bing_verify %}<meta name="msvalidate.01" content="{{ site.bing_verify }}">{% endif %}

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
