<div class="row publication">
    <div class="col-lg-2">
        {% if publication.non-caleydo-paper %}
        <img alt="{{ publication.shortname }} screenshot" class="img-responsive"
            src="{{ site.baseurl }}/img/publications/{{ publication.image }}">
        {% else %}
        <a href="{{ site.caleydo_url }}{{ publication.url }}">
            <img alt="{{ publication.shortname }} screenshot" class="img-responsive"
                src="{{ site.baseurl }}/img/publications/{{ publication.image }}">
        </a>
        {% endif %}
    </div>

    <div class="col-lg-10">
        {% for author in publication.authors %}
            {% if author == 'gratzl' %}<span class="author-me">Samuel Gratzl</span>{% else %}{{ author }}{% endif %}{% if author != publication.authors.last %}, {% endif %}
        {% endfor %}
        <br />
        <b class="paper-title">
            {% if publication.non-caleydo-paper %}
            <a href="{{ publication.external-project }}">{{ publication.title }}</a>
            {% else %}
            <a href="{{ site.caleydo_url }}{{ publication.url }}">{{ publication.title }}</a>
            {% endif %}
        </b>
        <br />

        {% if publication.type == "thesis" %}
        {{ publication.institution }}, {{ publication.thesis_type }}, {{ publication.month }} {{ publication.year }}

        {% else %}

        {% assign published-where = '' %}
        {% if publication.bib.journal %}
        {% assign published-where = publication.bib.journal %}
        {% elsif publication.bib.booktitle %}
        {% assign published-where = publication.bib.booktitle %}
        {% elsif publication.bib.publisher %}
        {% assign published-where = publication.bib.publisher %}
        {% endif %}

        {% assign published-volume-number = '' %}
        {% if publication.bib.volume %}
        {% assign published-volume = publication.bib.volume %}
        {% assign published-number = '' %}

        {% if publication.bib.number %}
        {% assign published-number = '(' | append: publication.bib.number | append: ')' %}
        {% endif %}

        {% assign published-volume-number = published-volume | append: published-number | append: ',' %}
        {% endif %}

        {% assign published-pages = '' %}
        {% if publication.bib.pages %}
        {% assign published-pages = 'pp. ' | append: publication.bib.pages | append: ',' %}
        {% endif %}

        {{ published-where }}, {{published-volume-number}} {{published-pages}} {{ publication.year }}
        {% endif %}

        <br />

        <span class="paper-link">
            {% if publication.url %}
            {% if publication.non-caleydo-paper != true %}
            <i class="fa fa-home"></i>&nbsp;
            <a href="{{ site.caleydo_url }}{{ publication.url }}">Paper Website</a>
            &nbsp;
            {% endif %}
            {% endif %}

            {% if publication.external-project %}
            {% if publication.non-caleydo-paper %}
            <i class="fa fa-home"></i>&nbsp;
            <a href="{{ publication.external-project }}">Paper Website</a>
            &nbsp;
            {% endif %}
            {% endif %}

            {% if publication.pdf %}
            <i class="fa fa-file-pdf-o"></i>&nbsp;
            <a href="{{ site.paper_content_url }}{{ publication.pdf }}">PDF</a>
            &nbsp;
            {% endif %}

            {% if publication.bib.doi %}
            <i class="fa fa-external-link"></i>&nbsp;
            <a href="http://dx.doi.org/{{ publication.bib.doi }}">Publisher</a>
            &nbsp;
            {% elsif publication.bib.publisher %}
            <i class="fa fa-external-link"></i>&nbsp;
            <a href="{{ publication.bib.publisher }}">Publisher</a>
            &nbsp;
            {% endif %}

            {% for video in site.videos %}
            {% if video.key == publication.video and video.youtube-id %}
            <i class="fa fa-youtube"></i>&nbsp;
            <a href="http://youtube.com/watch?v={{video.youtube-id}}">YouTube</a>
            &nbsp;
            {% elsif video.key == publication.video and video.vimeo-id %}
            <i class="fa fa-vimeo"></i>&nbsp;
            <a href="http://vimeo.com/{{video.vimeo-id}}">Vimeo</a>
            &nbsp;
            {% endif %}
            {% endfor %}

            {% for video in site.videos %}
            {% if video.key == publication.video %}
            <i class="fa fa-file-video-o"></i> &nbsp;
            <a href="{{site.paper_content_url}}{{video.file}}">Video</a>
            &nbsp;
            {% endif %}
            {% endfor %}

            {%if publication.bibtex %}
            <i class="fa fa-download"></i>&nbsp;
            <a href="{{site.paper_content_url}}{{ publication.bibtex }}">BibTeX</a>
            &nbsp;
            {% endif %}

        </span>
        {% if publication.award %}
        <span class="award">
            <i class="fa fa-trophy"></i>&nbsp;
            {{publication.award}}
        </span>
        {% endif %}
    </div>

</div>